@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{font-weight:400;color:#666;margin:0;padding:0;font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:"Microsoft YaHei","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;line-height:1;}
button,input,select,textarea,input{font-size:100%;font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;line-height:1;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none;}
a{cursor:pointer;color:#666;outline:none;}
textarea{resize:none;}
body{word-wrap:break-word;font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;}
img{vertical-align:middle;}
*{outline:none;cursor: default;}
a:focus,a:visited{outline:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{cursor:pointer;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
input[type=submit],input[type=button],input[type=text],input[type=password]{-webkit-appearance:none;box-sizing:content-box;border:0;border-radius:0;box-shadow:none;}
.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}
address,caption,cite,code,dfn,em,strong,th,var,b,i,s{font-style:normal;font-weight:400;}
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner{border:none;padding:0;}
button,input[type="button"],input[type="submit"]{line-height:normal!important;}
.main:before,.main:after{content:"";display:block;clear:both;}
.main{zoom:1;}
/*placeholder改写*/
input::-webkit-input-placeholder{ /* WebKit browsers */ color:#888;}
input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:#888;}
input::-moz-placeholder{ /* Mozilla Firefox 19+ */ color:#888;}
input:-ms-input-placeholder{ /* Internet Explorer 10+ */ color:#888;} 
.fl{float: left; margin-top:15px;}
.fr{float: right;}
/*a:hover{color: #459ede;};*/